{% extends "base.html" %}
{% load staticfiles %}

{% block imgheader %}
{% endblock %}


{% block body %}

<body>
<!-- Page Content -->
<div class="container" style="margin-top:10%;">

<!-- Introduction Row -->
<div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Misión</h2>
    <p class="text-muted">Ser un mecanismo de acopio, sistematización y análisis de información con la que, a partir de un entendimiento profundo del derecho a la vivienda,  se generen estudios, indicadores y recomendaciones que contribuyan a garantizar su pleno goce y respeto.</p><br><br>
    <h2 class="section-heading">Visión</h2>
    <p class="text-muted">Constituirse en un instrumento de protección y promoción de los derechos de la vivienda en México que sirva como una plataforma de reflexión, discusión y consulta para las instituciones, academia y organizaciones civiles en general.</p> <br><br>
    <h2 class="section-heading">Objetivo</h2>
    <p class="text-muted">El derecho a la vivienda adecuada es un derecho fundamental pocas veces atendido y menos veces comprendido. Este hecho no sólo genera problemas de tipo conceptual, sino también de tipo práctico. No puede haber políticas públicas respetuosas de un derecho si este derecho no es, antes, bien estudiado y bien desarrollado. 
    El Observatorio del Derecho a la Vivienda es una iniciativa de sociedad civil con la que se busca dar solución a problemas conceptuales y prácticos relacionados con el derecho a la vivienda. Así, no sólo se plantea generar estudios jurídicos relacionados con qué es el derecho a la vivienda desde una perspectiva de derecho internacional y derecho constitucional comparado, sino también –y a partir de estándares jurídicos– se pretende problematizar la forma en que se ha de medir y de hecho se mide la efectividad del derecho, así como de usar los indicadores generados para sustentar recomendaciones de política pública en la materia.
    </p><br><br>
    <hr class="light">

<p class="text-muted">

</p>


</div>

<!-- Team Members Row -->

<!--
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Equipo
            <small></small>
        </h1>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"></h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <center><img class="img-circle img-responsive img-center" src="{% static "compareconstitutions/img/jp.jpg"%}"> </center> 
        <h3>Jose Pablo Brown 
            <br>
            <small>Director del Hub</small>
        </h3>
        <p></p>
    </div>

    <div class="col-lg-4 col-sm-6 text-center">
        <center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></center>
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
-->


</div>

<hr>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#navbar-default").css("border-color","rgb(34,34,34,.05)").css("background-color", "#fff;") 
</script>
</body>

<link rel="stylesheet" href="/css/round-about.css" type="text/css">

 
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    $("#cartodb-text").remove()

    </script>
    <script type="text/javascript">
        $("#contact").css("background","rgb(245,245,245) !important")
    </script>
{% endblock %}