{% extends "base.html" %}
{% load staticfiles %}

{% block imgheader %}
{% endblock %}




{% block body %}


    <div class="container">

        <!-- Page Heading -->
        <div class="row" style="margin-top:10px">
            <div class="col-lg-12">
                <!--<center><img src="{% static "compareconstitutions/img/iconos/iconos-vivienda-hub256.png"%}" style="width:15%;margin-top:10%;"></center>-->

                <h1 class="page-header"><font color="#f05f40"><center>Data-HUB</center></font>
                    <small></small>
                </h1>
            </div>
        </div>


        <!-- Projects Row -->
        <!-- /.row -->
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static "compareconstitutions/img/portfolio/map.png"%}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>
                    <a href="/map">Mapa</a>
                </h3>
                <h4>Mapeo de México</h4>
                <p class="text-muted"  align="justify">Muestra de manera gráfica los principales indicadores relacionados con el derecho a la vivienda con el fin de conocer la situación en la cual se encuentra cada municipio de México con respecto al acceso a este derecho.</p>

                <a class="btn btn-primary" href="/map">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>



        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/compareconstitutions">
                    <img class="img-responsive" src="{% static "compareconstitutions/img/portfolio/compareit.png"%}" alt="">

                </a>
                <h4>
                    <a href="/compareconstitutions">Compara Constituciones</a>
                </h4>
                <p class="text-muted"  align="justify">Buscador que permite identificar como es que distintos países de América Latina regulan el Derecho a la vivienda. Brinda información necesaria para entender la forma en la que cada uno prevé y garantiza a nivel constitucional este derecho, facilitando la comparación de sus respectivas constituciones.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/directory">
                    <img class="img-responsive" src="{% static "compareconstitutions/img/portfolio/directory.png"%}" alt="">
                </a>
                <h4>
                    <a href="/directory">Directorio de Investigadores</a>
                </h4>
                <p class="text-muted"  align="justify">Herramienta interactiva que sistematiza las últimas tendencias de investigación respecto del derecho a la vivienda. Permite identificar fácilmente investigadores,investigaciones y temas relevantes  en la materia.</p>
            </div>
        </div>
        <!-- /.row 


        <br><br><br>
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    
                </a>
            </div>
            <div class="col-md-5">
                <h3>Compara Marcos Jurídicos de Vivienda</h3>
                <h4>Sudamérica</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                
            </div>
        </div>

        -->


        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->


{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript">
        $("#contact").css("background","rgb(245,245,245) !important")
    </script>
{% endblock %}
